In [7]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

In [8]:
df1 = pd.read_csv('/Users/dinaabed/Desktop/Final_Dataset.txt', delimiter = ",")

In [9]:
df1 = df1.drop('Unnamed: 0', axis=1)
# to create a unique id for videos
df = df1.copy()
df['video_id'] = df.groupby(['original_name']).ngroup()

In [10]:
df.head()

,date_,user_id_maped,program_name,duration_seconds,program_class,season,episode,program_desc,program_genre,series_title,hd,original_name,video_id
0,2017-05-27,26138,100 treets,40,MOVIE,0,0,Drama Movie100 Streets,Drama,0,0,100 treets,2
1,2017-05-21,7946,Moana,17,MOVIE,0,0,Animation MovieMoana (HD),Animation,0,1,Moana,924
2,2017-08-10,7418,The Mermaid Princess,8,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess,1524
3,2017-07-26,19307,The Mermaid Princess,76,MOVIE,0,0,Animation MovieThe Mermaid Princess (HD),Animation,0,1,The Mermaid Princess,1524
4,2017-07-07,15860,Churchill,87,MOVIE,0,0,Biography MovieChurchill (HD),Biography,0,1,Churchill,317

##rank based

In [11]:
def get_top_items(n, df=df):

    top_items = list(df.groupby('original_name').count()['user_id_maped'].sort_values(ascending=False).index[:n,])
    
    return top_items # Return the top items titles from df (not df_content)

def get_top_items_ids(n, df=df):
   
    top_items = list(df.groupby('video_id').count()['user_id_maped'].sort_values(ascending=False).index[:n,])
 
    return top_items # Return the top item ids

In [30]:
top_20 = list(get_top_items(20))
top_20

['PAW Patrol  ',
 'Friends  ',
 'Pingu  ',
 'The Boss Baby',
 'Blaze And The Monster Machines  ',
 'The Walking Dead  ',
 'Marcus Level  (T)',
 'SpongeBob quarePants',
 'Dora the Explorer  ',
 "Oscar's Oasis  ",
 'The Adventures of Petey and Friends',
 'Yo Gabba Gabba!  ',
 'My Little Pony: Friendship Is Magic  (T)',
 'Trolls',
 'Shimmer And hine  ',
 'Slugterra  ',
 'Teenage Mutant Ninja Turtles  ',
 'Teen Wolf  ',
 'Littlest Pet hop  ',
 'Jelly Jamm  (T)']

#Matrix factorization

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
df_train = df.sample(frac=0.5, random_state=20)
df_test = df.drop(df_train.index)

In [26]:
## UUCF

In [27]:
def user_item_matrix(df):

    df = df[['user_id_maped', 'original_name', 'video_id']]
    user_item = df.groupby(['user_id_maped', 'video_id'])['video_id'].count().unstack().notnull().astype(int)
    
    return user_item

In [28]:
user_item = user_item_matrix(df)

In [29]:
user_item

video_id,0,1,2,3,4,5,6,7,8,9,...,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827
user_id_maped,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34279,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34281,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34282,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34283,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0